<h1>Listing documents <small>These are the buckets</small></h1>

  <ul>
    <% @documents.each do |document| %>
      <li>
        <h4>
          <%= link_to document.name, document %>
          <%= link_to '<span class="glyphicon glyphicon-edit"></span>'.html_safe, edit_document_path(document) %>
          <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, document, method: :delete, data: { confirm: 'Are you sure?' } %>
        <h4>
      </li>
    <% end %>
</ul>

<br>

<%= link_to 'New Document', new_document_path %>

