<h1>Listing categories <small>These are the buckets</small></h1>

  <ul>
    <% @categories.each do |category| %>
      <li>
        <h4>
          <%= link_to category.name , category %>
          <%= link_to '<span class="glyphicon glyphicon-edit"></span>'.html_safe, edit_category_path(category) %>
          <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, category, method: :delete, data: { confirm: 'Are you sure?' } %>
        </h4>
      </li>
    <% end %>
  </ul>


<%= link_to 'New Category', new_category_path %>
<br>
<br>
<div id="feedback-bar" class="progress progress-striped active" style="display:none">
  <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
</div>
<p>Paste text in below to classify</p>
<textarea id="unclassified-doc" class="form-control" rows="3"></textarea>
<button id="classify-doc" class="btn btn-primary">Classify Doc</button>
<div id="document-percent" class="alert alert-success" style="display:none"></div>

<script type="text/javascript">
  $("#classify-doc").click(function(event) {
    var docText = $("#unclassified-doc").val();
    $("#feedback-bar").show();
    $.ajax({
      type: "POST",
      url: "/classify_document",
      data: {'doc' : docText}
    }).done(function(data){
      $("#feedback-bar").hide();
      var probability = jQuery.parseJSON(data['probability']);
      var message = '<div id="message">'+data['max_class'] + ' with ' + probability[data['max_class']].toFixed(2)*100 + '% confidence. '+
      '<button id="details" class="btn btn-primary btn-sm">Details</button></div>';
      $("#document-percent").show();
      $("#document-percent").html(message);

      $("#details").click(function(){
        var list = '';
        Object.keys(probability).forEach(function (key) { 
          var value = probability[key]
          list += '<li>Confidence of '+ key +' is '+ (value*100).toFixed(2) +'%</li>'
        })
        $("#message").append('<ul class="list-unstyled">'+list+'</ul>');
      }); 
    }).fail(function(){
      $("#document-percent").removeClass('alert-success');
      $("#document-percent").addClass('alert-warning');
      $("#document-percent").show();
      $("#document-percent").text("Something went wrong");
    });

  });

</script>


